@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #90A1B9;
}

@theme inline {
    --color-foreground: var(--foreground);

    --color-theme-background: #0F172B;
    --color-theme-backdrop: #020618;
    --color-theme-stroke: #314158;

    --color-heading-foreground: #F8FAFC;
    --color-link-foreground: #FFA1AD;

    --color-codeblock-background: #011221;
    
    --color-primary-background: #FFB86A;
    --color-primary-inverted: #020618;
    --color-primary-hover: #FFD6A7;
    --color-primary-hover-inverted: #020618;
}

body {
  @apply text-foreground text-base;
  background: var(--background);
  font-family: var(--font-main);
}

/* Глобальные стили скролла */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-theme-backdrop);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-theme-stroke);
  border-radius: 5px;
  border: 2px solid var(--color-theme-backdrop);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-foreground);
}

::-webkit-scrollbar-corner {
  background: var(--color-theme-backdrop);
}

/* Для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-theme-stroke) var(--color-theme-background);
}

/* Особый стиль для codeblock */
.codeblock-scroll::-webkit-scrollbar-thumb {
  background: var(--color-codeblock-background);
}

/* Акцентный скролл для primary-элементов */
.primary-scroll::-webkit-scrollbar-thumb {
  background: var(--color-primary-background);
}

.primary-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-hover);
}