@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #90A1B9;
}

@theme inline {
    --color-foreground: var(--foreground);

    --color-theme-background: #0F172B;
    --color-theme-backdrop: #020618;
    --color-theme-stroke: #314158;

    --color-heading-foreground: #F8FAFC;
    --color-link-foreground: #FFA1AD;

    --color-codeblock-background: #011221;
    
    --color-primary-background: #FFB86A;
}

body {
  @apply text-foreground text-base;
  background: var(--background);
  font-family: var(--font-main);
}